// special services page
.page-special-services {
	
	section {
		
		
		&.background-checks {
			background-image: url(/assets/images/sections/section-background-checks.jpg);
			background-size: contain;
			
			@include mq($small-only) {
				background-image: none;
			}
		}
		
		&.identity-theft {
			background-image: url(/assets/images/sections/section-identity-theft-bg.jpg);
			color: #fff;
			
			h2 {
				color: #fff;
			}
			@include mq($small-only) {
				background-image: none;
				background-color: $pss-blue-dark;
			}
		}
		
	}// section
	
}// .page-special-services