// special services page
.page-special-training {
	
	section {
		
		// specialzied training
		&.specialized-training {
			
			// adding margin after first paragraph
			h2 + p {
				margin-bottom: rem-calc(60);
			}
			
			// underline 
			.underline-is-centered {
				
				&:after {
					bottom: -2em;
				}
			}
			
			// carousel wrapper
			.carousel-wrapper {
				@include clearfix;
				
				@include mq($small-only) {
					width: 240px;
					margin: 0 auto;
				}
			}// .carousel-wrapper
			
			// slick dots
			.slick-dots {
				margin: 0;
				
				@include mq($small-only) {
					width: 220px;
				}
			}// .slick-dots
			
		}// &.specialized-training
		
	}// section
	
}// .page-special-services