// Variables

// Colors -- these are in the foundation settings 
// $pss-red: 			#e97668;
// $pss-blue-light: 	#0093d0;
// $pss-blue-dark: 	#004a68;
// $pss-grey: 			#414950;
// $pss-grey-dark: 	#424a51;
// $pss-off-white: 	#f0f1f1;


// Helper Classes

// button wrapper
.button-wrapper {
	padding: 0;
}
	
// blue bg 
.is-blue-bg {
	background: $pss-blue-dark;
	color: #fff;
	
	h2 {
		color: #fff;
	}
}

// light blue bg
.is-blue-light-bg {
	background: $pss-blue-light;
	color: #fff;

	h2 {
		color: #fff;
	}
}

// red bg
.is-red-bg {
	background: $pss-red;
	color: #fff;

	h2 {
		color: #fff;
	}
}

// larger text
.is-larger-text {
	font-size: rem-calc(25);
	
	@include mq($small-only) {
		font-size: rem-calc(20);
	}
}

// underline under headlines and sections
.underline {
	position: relative;

	&:after {
		content: "";
		height: 3px;
		position: absolute;
		width: 75px;
	}

	&.underline-is-white {

		&:after {
			background: #fff;
		}
	}

	&.underline-is-blue {

		&:after {
			background: $pss-blue-light;
		}
	}

	&.underline-is-left {

		&:after {
			left: 0;
			bottom: -0.35em;
			
			@include mq($small-only) {
				left: 50%;
				margin-left: -37px;
			}
		}
	}

	&.underline-is-centered {

		&:after {
			left: 50%;
			bottom: -0.35em;
			margin-left: -50px;
		}
	}
}// .underline

// border radius
.has-border-radius {
	border-radius: 5px;
}

// hidden elemnt - used for content sections that hidden on page load
.is-hidden {
	display: none;
}

// used to toggle hidden elements via jquery
.toggle-hidden {
	font-weight: 700;
	color: $pss-blue-light;
	cursor: pointer;
}

// mobile hero overlay to make text more leglible
.has-mobile-overlay-dark,
.has-mobile-overlay {
	position: relative;
	z-index: 1;
	
	// adding overlay only on mobile screens
	&:after {
		
		@include mq($small-only) {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
		}
	}// &:after
}// .has-overlay

.has-mobile-overlay {

	// adding overlay only on mobile screens
	&:after {
		
		@include mq($small-only) {
			background-color: rgba(255, 255, 255, 0.7);
		}
	}// &:after
}// .has-overlay

// adds dark overlay to heroes on mobile for readability
.has-mobile-overlay-dark {

	// adding overlay only on mobile screens
	&:after {
		
		@include mq($small-only) {
			background-color: rgba(0, 0, 0, 0.4);
		}
	}// &:after
}// .has-overlay

// modal overlay
.modal-overlay {
	position: relative;
	
	&:after {
		content: "";
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.7);
		z-index: 9998;
	}
}// .modal-overlay

.contact-margin-top {
	@include mq($small-only) {
		margin-top: 53px;
	}
}