// Heroes
.hero {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
	// hero content
	.content {
		padding: 6em 0;
		z-index: 10;

		p {
			margin-top: 40px;
		}
	}// .content
	
	// OVERRIDING FLEXSLIDER DEFAULT STYLES
	.flexslider {
		border: 0;
		box-shadow: none;
		height: 100%;
		margin: 0;
		
		.slides,
		.slide {
			height: 100%;
		}
	}// .flexslider
	
	// flex control dots
	.flex-control-nav {
		bottom: auto;
		margin-top: -59px;
		right: 65px;
		top: 50%;
		width: auto;
		z-index: 10;
		
		li {
			display: block;
			margin-top: 25px;
			
			a.flex-active {
				background-color: $pss-red;
			}
		}// li
		
	}// .flex-control-nav
	
	// hero-landing 
	&.hero-landing {
		color: #fff;
		height: 522px;
		
		// slide
		.slide {
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}
		
		// backgrounds of each slide
		.slide-1 {
			background-image: url(/assets/images/heroes/hero-landing-real-professionals-bg.jpg);
		}

		.slide-2 {
			background-image: url(/assets/images/heroes/hero-landing-call-professionals-bg.jpg);
		}

		.slide-3 {
			background-image: url(/assets/images/heroes/hero-landing-best-bg.jpg);
		}

		// END background of each slide
		
		// slide content
		.content {

			&.slide-1-content,
			&.slide-2-content {
				
				h2 {
					color: #fff;
				}
			}// slide-1-content, slide-2-content
			

			&.slide-3-content {
				color: #000;
			}// slide-3-content

		}// .content 
		
		.hero-landing-mobile {
			background-image: url(/assets/images/heroes/hero-landing-call-professionals-bg.jpg);
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			height: 100%;
			padding-top: rem-calc(50px);
			
			h2 {
				color: #fff;
			}
			
			p {
				margin-top: 40px;
			}
		}

	}// &.hero-landing

	// about us 
	&.hero-about-us {
		background-image: url(/assets/images/heroes/hero-about-us-bg.jpg);
		color: #fff;

		h1 {
			color: #fff;
		}
		
		// helper class to add teal bg to text
		.has-teal-bg {
			position: relative;
			z-index: 1;
			
			// teal box
			&:after {
				background-color: #00699f;
				border-radius: 5px;
				content:"";
				height: 100%;
				position: absolute;
				right: 0;
				top: 0;
				width: 9000px;
				z-index: -1;
			}//&:after

		}// .has-teal-bg

	}// &.hero-about-us

	// services
	&.hero-services {
		background-image: url(/assets/images/heroes/hero-services-bg.jpg);
		
		@include mq($small-only) {
			background-position: 70% center;
		}
	}// &.hero-services
	
	
	// residential
	&.hero-residential-security {
		background-image: url(/assets/images/heroes/hero-residential-services.jpg);
		color: #fff;
		
		@include mq($small-only) {
			background-position: 70% center;
		}
		
		h1 {
			color: #fff;
		}
	}// &.hero-residential-security
	
	
	// commercial
	&.hero-commerical-security {
		background-image: url(/assets/images/heroes/hero-commercial-services.jpg);
		color: #fff;
		
		@include mq($small-only) {
			background-position: 70% center;
		}
		
		h1 {
			color: #fff;
		}
	}// &.hero-commerical-security
	
	
	// industrial
	&.hero-industrial-security {
		background-image: url(/assets/images/heroes/hero-industrial-services.jpg);
		color: #fff;
		
		@include mq($small-only) {
			background-position: 70% center;
		}
		
		h1 {
			color: #fff;
		}
	}// &.hero-industrial-security
	
	// government
	&.hero-government-security {
		background-image: url(/assets/images/heroes/hero-government-services.jpg);
		color: #fff;
		
		@include mq($small-only) {
			background-position: 70% center;
		}
		
		h1 {
			color: #fff;
		}
	}// &.hero-government-security
	
	// healthcare
	&.hero-healthcare-security {
		background-image: url(/assets/images/heroes/hero-healthcare-services.jpg);
		color: #fff;
		
		@include mq($small-only) {
			background-position: 70% center;
		}
		
		h1 {
			color: #fff;
		}
	}// &.hero-healthcare-security
		

}// .hero