// Heroes
.hero {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	
	@include mq($small-only) {
		margin-top: 50px;
	}
		
	// hero content
	.content {
		padding: 4em 0;
		z-index: 10;
		
		@include mq($small-only) {
			padding: 1rem 0 2rem;
		}
		
		h1 {
			@include mq($small-only) {
				font-size: 1.5rem;
			}
		}

		p {
			margin-top: 30px;
		}
	}// .content

	
	.phone-number {
		
		@include mq($small-only) {
			display: block;
		}
	}
	
	// scroll down button
	&-scroll-button {
		background: #fff;
		height:45px;
		width:90px;
		border-radius: 90px 90px 0 0;
		-moz-border-radius: 90px 90px 0 0;
		-webkit-border-radius: 90px 90px 0 0;
		position: absolute;
		bottom: -2px;
		left: 50%; 
		margin-left: -45px;
		min-width: 90px;
		
		img {
			display: block;
			margin: auto;
			padding: 10px 0;
		}
	}// .hero-scroll-button
	
	// hero-landing 
	&-landing {
		color: #fff;
		background-image: url(/assets/images/heroes/hero-landing-call-professionals-bg.jpg);
		
		@include mq($small-only) {
			background-image: none;
			background-color: #fff;
			
			.content,
			.row{
				background-image: none;
				background: #fff;
			}
			
			.content {
				p {
					margin: 0.75rem 0;
				}
			}
		}
			
		h2 {
			color: #fff;
			
			&:after {
				@include mq($small-only) {
					background-color: $pss-blue-light !important;
				}

			}
		}
		
		h2,
		p {
			@include mq($small-only) {
			 color: $pss-grey-dark;
			}
		}
		
		&-img-mobile {
			margin-top: 1rem;
		}
		
		@include mq($medium-only) {
			background-position: center left;
		}

		@include mq($small-only) {
			height: 100%;
			padding: 0 0 rem-calc(32px) 0;
			position: relative;
		}

	}// &.hero-landing

	// about us 
	&-about-us {
		background-image: url(/assets/images/heroes/hero-about-us-bg.jpg);
		color: #fff;
		
		@include mq($small-only) {
			background-position: center left;
		}
		
		.content {
			padding: 6em;
			
			@include mq($small-only) {
				padding: 1.75em 0;
			}
		}

		h2 {
			color: #fff;
		}
	

	}// &.hero-about-us
	
	// careers 
	&-careers {
		background-image: url(/assets/images/heroes/hero-career-bg.jpg);
		color: #fff;

		h1 {
			color: #fff;
		}
		
	}// &.hero-careers

	// services
	&-services {
		background-image: url(/assets/images/heroes/hero-services-bg.jpg);
		background-position: center top;
		
		@include mq($small-only) {
			background-position: 70% center;
		}
	}// &.hero-services
	
	
	// residential
	&-residential-security {
		background-image: url(/assets/images/heroes/hero-residential-services.jpg);
		background-position: center bottom;
		color: #fff;
		
		.content {
			
			@include mq($small-only) {
				padding: 2em 0;

			}
		}
		
		
		@include mq($small-only) {
			background-position: 70% center;
		}
		
		h1 {
			color: #fff;
		}
	}// &.hero-residential-security
	
	
	// commercial
	&-commerical-security {
		background-image: url(/assets/images/heroes/hero-commercial-services.jpg);
		color: #fff;
		
		@include mq($small-only) {
			background-position: 70% center;
		}
		
		h1 {
			color: #fff;
		}
	}// &.hero-commerical-security
	
	
	// industrial
	&-industrial-security {
		background-image: url(/assets/images/heroes/hero-industrial-services.jpg);
		color: #fff;
		
		@include mq($small-only) {
			background-position: 70% center;
		}
		
		h1 {
			color: #fff;
		}
	}// &.hero-industrial-security
	
	// government
	&-government-security {
		background-image: url(/assets/images/heroes/hero-government-services.jpg);
		color: #fff;
		
		@include mq($small-only) {
			background-position: 70% center;
		}
		
		h1 {
			color: #fff;
		}
	}// &.hero-government-security
	
	// healthcare
	&-healthcare-security {
		background-image: url(/assets/images/heroes/hero-healthcare-services.jpg);
		color: #fff;
		
		@include mq($small-only) {
			background-position: 70% center;
		}
		
		h1 {
			color: #fff;
		}
	}// &.hero-healthcare-security
	
	// healthcare
	&-special-training {
		background-image: url(/assets/images/heroes/hero-special-training.jpg);
		color: #fff;
		
		@include mq($small-only) {
			background-position: 70% center;
		}
		
		h1 {
			color: #fff;
		}
	}// &.hero-healthcare-security
		

}// .hero