// Modals
.modal {
	@include transform(translate(-50%, -50%));
	display: none;
	left: 50%;
	padding: 20px 0;
	position: fixed;
	top: 50%;
	z-index: 9999;
	
	h2 {
		margin-bottom: 30px;
		
		@include mq($small-only) {
			font-size: 1.2rem;
			margin-bottom: 20px;
		}	
	}
	
	p {
		@include mq($small-only) {
			font-size: 0.8em;
		}
	}
	
	&-show {
		display: block;
	}// .modal-show
	
	&-close {
		color: $pss-blue-light;
		cursor: pointer;
		position: absolute;
		right: 5px;
		top: 5px;
		z-index: 5;
	}
	
	// apply now modal
	&-apply-now,
	&-pss-video {
		background-color: $white;
		width: 50%;
		
		@include mq($small-only) {
			width: 90%;
		}
		
		.modal-close {
			font-size: rem-calc(25);
		}
	}// &.modal-apply-now
	
}// .modal