// navigation
.nav {
	background: #fff;
	
	// Primary Nav
	&.primary-nav {
		margin-top: 10px;
		
		.title-area {
			width: 30%;
			padding-left: 10px;
			
			@include mq($small-only) {
				padding-left: 0;
			}
		}	
		
		.name {
			
			a {
				line-height: 112px;
			}
		}
		// top bar secton
		.top-bar-section {
			
			li:not(.has-form) a:not(.button) {
				padding: 0 0.75rem;
			}
			
			a {
				@extend %montserrat;
				font-weight: 100;
				font-size: 0.9rem;
			}
			
			// dropdown
			.dropdown{
				margin-right: -64px;
				right: 50%;

				&:after {
					@include triangle(16px, $pss-blue-light, up);
					content: "";
					left: 50%;
					margin-left: -8px;
					position: absolute;
					top: -8px;
				}
				
				// li
				li {
					height: 45px;
					
					&.active {
						a {
							background-color: $pss-blue-dark;
							color: #fff;
						}
					}
					
					&:hover:not(.has-form):not(.active) > a:not(.button) {
						background-color: $pss-blue-dark;
						color: #fff;
					}

					a {
						height: 100%;
						line-height: 45px;
					}
				
				}// li

			}// .dropdown

			// client portal
			.client-portal {

				span {
					background: $pss-red;
					border-radius: 20px;
					color: #fff;
					padding: rem-calc(10);

				}// span

			} //.client-portal

		}// .top-bar-section

	}// .primary-nav	

}// .nav

// Mobile Navigation
.header-mobile {
	border-bottom: 3px solid $pss-blue-light;
}

.tab-bar-section {
	&.middle {
		left: 1.125rem;
	}
}

// preventing mobile navigation from scrolling
aside.right-off-canvas-menu{
	display: none;
	position: fixed;
	right: 250px;
}