// navigation
.nav {
	background: #fff;
	
	// Primary Nav
	&.primary-nav {
		margin-top: 10px;
		
		.title-area {
			width: 30%;
		}	
		
		.name {
			
			a {
				line-height: 112px;
			}
		}
		// top bar secton
		.top-bar-section {
			
			// dropdown
			.dropdown{
				margin-right: -64px;
				right: 50%;

				&:after {
					@include triangle(16px, $pss-blue-light, up);
					content: "";
					left: 50%;
					margin-left: -8px;
					position: absolute;
					top: -8px;
				}
				
				// li
				li {
					height: 45px;

					a {
						height: 100%;
						line-height: 45px;
					}
				
				}// li

			}// .dropdown

			// client portal
			.client-portal {

				span {
					background: $pss-red;
					border-radius: 20px;
					color: #fff;
					padding: rem-calc(10);

				}// span

			} //.client-portal

		}// .top-bar-section

	}// .primary-nav	

}// .nav

// Mobile Navigation
.header-mobile {
	border-bottom: 3px solid $pss-blue-light;
}

.tab-bar-section {
	&.middle {
		left: 1.125rem;
	}
}