// Standing Guards
section.standing-guards {
	
	h2 {
		line-height: 1;
	}
	
	ul {
		font-weight: 100;
	}
	
	// residential services page 
	.page-residential-services & {
		background-image: url(/assets/images/sections/section-standing-guards-residential.jpg);
		background-size: contain;
		
		@include mq($small-only) {
			background-image: none;
		}
	} 
	
	// commerical services page 
	.page-commercial-services & {
		background-image: url(/assets/images/sections/section-standing-guards-commercial.jpg);
		background-size: contain;
		
		@include mq($small-only) {
			background-image: none;
		}
	}
	
	// industrial services page 
	.page-industrial-services & {
		background-image: url(/assets/images/sections/section-standing-guards-residential.jpg);
		background-size: contain;
		
		@include mq($small-only) {
			background-image: none;
		}
	} 
	
	// government services page 
	.page-government-services & {
		background-image: url(/assets/images/sections/section-standing-guards-commercial.jpg);
		background-size: contain;
		
		@include mq($small-only) {
			background-image: none;
		}
	}
	
	// government services page 
	.page-healthcare-services & {
		background-image: url(/assets/images/sections/section-standing-guards-residential.jpg);
		background-size: contain;
		
		@include mq($small-only) {
			background-image: none;
		}
	}
	
	
} // .standing-guards