// Sections
section {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	

	h2 {
		color: $pss-grey;
		margin: 0.3em 0 1em;
	}
	
	.button {
		
		&:hover {
			background-color: darken($pss-blue-light, 10%);
		}
	}
	
	ul {
		font-weight: 100;
	}

	// SECTIONS 
	
	//PAGE - Home (these sections are repeated on other pages)
	// who are we
	&.who-are-we {
		background-image: url(/assets/images/sections/section-who-we-are-bg.jpg);
		background-size: cover;
		background-position: center top;
		
		@include mq($small-only) {
			background-image: none;
		}
	}
	
	// goal
	&.goal {
		background-image: url(/assets/images/sections/section-goals-bg.jpg);
		
		@include mq($small-only) {
			background-color: $pss-off-white;
			background-image: none;
		}
	}
	
	// contact
	&.contact {
		background-image: url(/assets/images/sections/section-contact-bg.jpg);
		color: #fff;

		h2 {
			color: #fff;
		}
		
		p {
			text-shadow: 1px 1px 0 #000;
		}
		
		// input and textarea
		input,
		textarea {
			background-color: rgba(0, 147, 208, 0.85);
			border: 1px solid #fff;
			
			// adjusting placeholder text
			@include placeholder {
			    color: #fff;
			  }
		}// input, textarea

	}// &.contact
	
	
	// SECTION - Sliders
	// slider employee terminations
	&.slider-section {
		background: $pss-off-white;
		margin-bottom: 0;
		padding: 1em;
		font-weight: 700;
		font-size: 30px;
		margin-bottom: 0;
		
		@include mq($medium-only) {
			font-size: 22px;
		}
		
		@include mq($small-only) {
			font-size: 18px;	
		}
		
		.slide {
			display: table;
		}
		
		.slick-prev, 
		.slick-next {
		    width: 21px;
		    height: 39px;
		    margin-top: -20px;
		    z-index: 50;
		}

		.content {
			display: table-cell;
			vertical-align: middle;
			padding: 0 2em;
		}
		
	}// &.slider-section
	

	// section off center image - sections where images and content sections don't perfectly align
	&.section-off-center-image {
		padding: 0;
		
		// section left content, section right content
		.section-left-content,
		.section-right-content {
			width: 50%;
			
			@include mq($small-only) {
				width: 100%;
			}
						
			// content
			.content {
				padding: 2em 1em;
				height: rem-calc(570px);
				
				// extending background 
				&:after {
					content: "";
					position: absolute;
					height: 100%;
					width: 1000px;
					top: 0;
				}// &:after
				
				@include mq($small-only) {
					height: auto;
				}
			}// .content
			
			// patrol content, escort content
			.patrol-content,
			.escort-content {
				
				&.is-blue-bg {
					&:after {
						background-color: $pss-blue-dark;
						left: -1000px;
					}
				}// &.is-blue-bg
				
				&.is-red-bg {
					&:after {
						background-color: $pss-red;
						left: -1000px;
					}
				}// &.is-red-bg
				
			}// .patrol-content
			
			// homeland content, concierge content
			.homeland-content,
			.concierge-content {
				
				&:after {
					background-color: $pss-blue-light;
					right: -1000px;
				}
			}// .homeland-content
			
		}// .patrol, .homeland
		
		.section-left-content {
			img {
				float: right;
			}
		}
	}// .section-off-center-image
	
	// SERVICE BLOCKS
	&.service-blocks {
		
		.columns {
			&:nth-child(n+2) {
				@include mq($small-only) {
					margin-top: 30px;
				}	
			}
		}
		
		// service button
		.service-button {
			@include transition(all 0.2s ease-in-out);
			background: $pss-blue-light;
			color: #fff;
			font-size: 1.5rem;
			height: rem-calc(370px);
			padding-top: 45%;
			
			@include mq($medium-only) {
				height: rem-calc(200px);
				padding-top: 3.5em;
			}
			
			@include mq($small-only) {
				font-size: 1.2rem;
				height: rem-calc(100px);
				padding-top: 2em;
			}
			
			
			// residential block
			&.residential-block {
				background-image: url(/assets/images/service-blocks/service-block-residential.jpg);
				background-position: center -1000px;
				background-repeat: no-repeat;
				background-size: cover;
				
				// hover
				&:hover {
					background-position: 50% -20px;
					
					@include mq($small-only) {
						background-image: none;
						background-position: center -1000px;
					}
				}
			}
			
			// commercial block
			&.commercial-block {
				background-image: url(/assets/images/service-blocks/service-block-commercial.jpg);
				background-position: center -1000px;
				background-repeat: no-repeat;
				background-size: cover;
				
				// hover
				&:hover {
					background-position: 50% -20px;
					
					@include mq($small-only) {
						background-image: none;
						background-position: center -1000px;
					}
				}
			}
			
			// industrial block
			&.industrial-block {
				background-image: url(/assets/images/service-blocks/service-block-industrial.jpg);
				background-position: center -1000px;
				background-repeat: no-repeat;
				background-size: cover;
				
				// hover
				&:hover {
					background-position: 50% -20px;
					
					@include mq($small-only) {
						background-image: none;
						background-position: center -1000px;
					}
				}
			}
			
			// goverment block
			&.government-block {
				background-image: url(/assets/images/service-blocks/service-block-government.jpg);
				background-position: center -1000px;
				background-repeat: no-repeat;
				background-size: cover;
				
				// hover
				&:hover {
					background-position: 50% -20px;
					
					@include mq($small-only) {
						background-image: none;
						background-position: center -1000px;
					}
				}
			}
			
			// healthcare block
			&.healthcare-block {
				background-image: url(/assets/images/service-blocks/service-block-healthcare.jpg);
				background-position: center -1000px;
				background-repeat: no-repeat;
				background-size: cover;
				
				// hover
				&:hover {
					background-position: 50% -20px;
					
					@include mq($small-only) {
						background-image: none;
						background-position: center -1000px;
					}
				}
			}
			
			// special services block
			&.special-services-block {
				background-image: url(/assets/images/service-blocks/service-block-special-services.jpg);
				background-position: center -1000px;
				background-repeat: no-repeat;
				background-size: cover;
				
				// hover
				&:hover {
					background-position: 50% -20px;
					
					@include mq($small-only) {
						background-image: none;
						background-position: center -1000px;
					}
				}
			}
		}// .service-button

	}// &.service-blocks

}// section
