// Sections
section {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	h2 {
		color: $pss-grey;
		margin: 0.3em 0 1em;
	}

	// SECTIONS 
	
	//PAGE - Home (these sections are repeated on other pages)
	// who are we
	&.who-are-we {
		background-image: url(/assets/images/sections/section-who-we-are-bg.jpg);
		
		@include mq($small-only) {
			background-image: none;
		}
	}
	
	// goal
	&.goal {
		background-image: url(/assets/images/sections/section-goals-bg.jpg);
		
		@include mq($small-only) {
			background-color: $pss-off-white;
			background-image: none;
		}
	}
	
	// contact
	&.contact {
		background-image: url(/assets/images/sections/section-contact-bg.jpg);
		color: #fff;

		h2 {
			color: #fff;
		}
		
		// input and textarea
		input,
		textarea {
			background-color: rgba(255,255,255, 0.5);
			border: 1px solid #fff;
			
			// adjusting placeholder text
			@include placeholder {
			    color: $pss-grey;
			  }
		}// input, textarea

	}// &.contact

	// PAGE - About Us
	// personnel
	&.personnel {
		
		// team list
		.team-list {
			background: #fff;
			border-radius: 8px;
			
			@include mq($small-only) {
				margin-top: rem-calc(30px);
			}

			&_header {
				background-color: $pss-red;
				border-radius: 8px 8px 0 0;
				color: #fff;
				margin-bottom: 20px;
				padding: 10px 0;
			}// .team-list_header
			
			// team list positions
			&_positions {
				color: $pss-grey;
				font-weight: 100;

				ul {
					padding: 0 20px 20px;
					font-size: rem-calc(14);

					li {
						padding: 0.45em 0;
					}
				}// ul

			}// .team-list_positions

		}// .team-list

	}// &.personnel
	
	// specialized training
	&.specialized-training {
		
		// adding margin after first paragraph
		h2 + p {
			margin-bottom: rem-calc(60);
		}
		
		// underline 
		.underline-is-centered {
			
			&:after {
				bottom: -2em;
			}
		}
		
		.carousel-training {
			//width: 270px;
			//margin: 0 auto;
			
			@include mq($small-only) {
				//width: 250px;
			}
		}
	}// &.specialized-training
	
	// END - about us page
	
	// PAGE - Careers
	&.careers {
		
		.career-requirements {
			counter-reset: item;
			font-weight: 100;
			
			li {
				margin-bottom: 10px;
			}
			// sub list
			&_sub-list {
				li {
					list-style-type: none;
					
					// creating alpha counter
					&:before {
						content: counter(item, lower-alpha)".";
						counter-increment: item;
						margin-right: 10px;
					}
				}// li

			}// .career-requirements_sub-list

		}// .career-requirements

	}// .careers
	
	// END - careers page
	
	// @PAGE - RESIDENTIAL
	
	// gated communities
	&.gated-communities-main {
		background-image: url(/assets/images/sections/section-gated-communities.jpg);
		background-size: contain;
		
		@include mq($small-only) {
			background-image: none;
		}
	}// &.gates-communities-main
	
	// gated communities sub
	&.gated-communities-sub {
		background-image: url(/assets/images/sections/section-gated-communities-sub.jpg);
		color: #fff;
		
		@include mq($small-only) {
			background-image: none;
			background-color: $pss-blue-light;
		}
	}// &.gates-communities-main
	
	&.homeland-security {
		background-image: url(/assets/images/sections/section-homeland-security.jpg);
		color: #fff;
		
		h2 {
			color: #fff;
		}
		@include mq($small-only) {
			background-image: none;
			background-color: $pss-blue-light;
		}
	}
	
	// END - residential page
	
	// @PAGE - Industrial Security
	
	// security assessments
	&.security-assessments {
		background-image: url(/assets/images/sections/section-security-assessments.jpg);
		background-size: contain;
		
		@include mq($small-only) {
			background-image: none;
		}
	}// &.security-assessments
	
	// employee escorts
	&.employee-escorts {
		background-image: url(/assets/images/sections/section-employee-escorts.jpg);
		color: #fff;
		
		h2 {
			color: #fff;
		}
		@include mq($small-only) {
			background-image: none;
			background-color: $pss-blue-dark;
		}
	}
	
	// END Industrial Security
	
	
	// @PAGE - Special Services
	
	// employee safety
	&.employee-safety {
		background-image: url(/assets/images/sections/section-employee-safety.jpg);
		background-size: contain;
		
		@include mq($small-only) {
			background-image: none;
		}
	}
	
	// employee escorts
	&.emergency-evacuations {
		background-image: url(/assets/images/sections/section-emergency-evacuations.jpg);
		color: #fff;
		
		h2 {
			color: #fff;
		}
		@include mq($small-only) {
			background-image: none;
			background-color: $pss-blue-dark;
		}
	}
	
	&.background-checks {
		background-image: url(/assets/images/sections/section-background-checks.jpg);
		background-size: contain;
		
		@include mq($small-only) {
			background-image: none;
		}
	}
	
	//community safety
	&.community-safety {
		background-image: url(/assets/images/sections/section-community-safety.jpg);
		color: #fff;
		
		h2 {
			color: #fff;
		}
		@include mq($small-only) {
			background-image: none;
			background-color: $pss-blue-dark;
		}
	}
	
	// END SECTIONS
	
	// SECTION - Sliders
	// slider employee terminations
	&.slider-section {
		background: $pss-off-white;
		margin-bottom: 0;
		padding: 1em;
		font-weight: 700;
		font-size: 30px;
		margin-bottom: 0;
		
		@include mq($medium-only) {
			font-size: 22px;
		}
		
		@include mq($small-only) {
			font-size: 18px;	
		}
		
		.slide {
			display: table;
		}

		.content {
			display: table-cell;
			vertical-align: middle;
			padding: 0 2em;
		}
		
	}// &.slider-employee-terminations
	

	// Patrol/Homeland and Identity/Personal Protection
	//patrol-homeland & identity- personal protection
	&.patrol-homeland,
	&.identity-protection {
		padding: 0;
		
		// patrol, homeland
		.patrol,
		.homeland,
		.identity,
		.personal-protection {
			width: 50%;
			
			@include mq($small-only) {
				width: 100%;
			}
			
			.patrol-content,
			.homeland-content {
				height: rem-calc(527px);
			}
			
			.identity-content,
			.personal-protection-content {
				height: rem-calc(720px);
			}
			
			// patrol and homeland content
			.patrol-content,
			.homeland-content,
			.identity-content,
			.personal-protection-content {
				padding: 2em 1em;
				
				// extending background 
				&:after {
					content: "";
					position: absolute;
					height: 100%;
					width: 1000px;
					top: 0;
				}// &:after
				
				@include mq($small-only) {
					height: auto;
				}
			}// .patrol-content, .homeland-content
			
			// patrol content 
			.patrol-content,
			.identity-content {
				
				&.is-blue-bg {
					&:after {
						background-color: $pss-blue-dark;
						left: -1000px;
					}
				}// &.is-blue-bg
				
				&.is-red-bg {
					&:after {
						background-color: $pss-red;
						left: -1000px;
					}
				}// &.is-red-bg
				
			}// .patrol-content
			
			// homeland contentd
			.homeland-content,
			.personal-protection-content {
				
				&:after {
					background-color: $pss-blue-light;
					right: -1000px;
				}
			}// .homeland-content
			
		}// .patrol, .homeland
		
		.patrol,
		.identity {
			img {
				float: right;
			}
		}
	}// .patrol, .homeland
	
	// SERVICE BLOCKS
	&.service-blocks {
		
		.columns {
			&:nth-child(n+2) {
				@include mq($small-only) {
					margin-top: 30px;
				}	
			}
		}
		
		// service button
		.service-button {
			@include transition(all 0.2s ease-in-out);
			background: $pss-blue-light;
			color: #fff;
			height: rem-calc(370px);
			padding-top: 45%;
			
			@include mq($medium-only) {
				height: rem-calc(200px);
				padding-top: 5em;
			}
			
			@include mq($small-only) {
				height: rem-calc(100px);
				padding-top: 2em;
			}
			
			
			// residential block
			&.residential-block {
				background-image: url(/assets/images/service-blocks/service-block-residential.png);
				background-position: center -1000px;
				background-repeat: no-repeat;
				background-size: cover;
				
				// hover
				&:hover {
					background-position: 50% -20px;
					
					@include mq($small-only) {
						background-image: none;
						background-position: center -1000px;
					}
				}
			}
			
			// commercial block
			&.commercial-block {
				background-image: url(/assets/images/service-blocks/service-block-commercial.png);
				background-position: center -1000px;
				background-repeat: no-repeat;
				background-size: cover;
				
				// hover
				&:hover {
					background-position: 50% -20px;
					
					@include mq($small-only) {
						background-image: none;
						background-position: center -1000px;
					}
				}
			}
			
			// industrial block
			&.industrial-block {
				background-image: url(/assets/images/service-blocks/service-block-industrial.png);
				background-position: center -1000px;
				background-repeat: no-repeat;
				background-size: cover;
				
				// hover
				&:hover {
					background-position: 50% -20px;
					
					@include mq($small-only) {
						background-image: none;
						background-position: center -1000px;
					}
				}
			}
			
			// goverment block
			&.government-block {
				background-image: url(/assets/images/service-blocks/service-block-government.png);
				background-position: center -1000px;
				background-repeat: no-repeat;
				background-size: cover;
				
				// hover
				&:hover {
					background-position: 50% -20px;
					
					@include mq($small-only) {
						background-image: none;
						background-position: center -1000px;
					}
				}
			}
			
			// healthcare block
			&.healthcare-block {
				background-image: url(/assets/images/service-blocks/service-block-healthcare.png);
				background-position: center -1000px;
				background-repeat: no-repeat;
				background-size: cover;
				
				// hover
				&:hover {
					background-position: 50% -20px;
					
					@include mq($small-only) {
						background-image: none;
						background-position: center -1000px;
					}
				}
			}
			
			// special services block
			&.special-services-block {
				background-image: url(/assets/images/service-blocks/service-block-special-services.png);
				background-position: center -1000px;
				background-repeat: no-repeat;
				background-size: cover;
				
				// hover
				&:hover {
					background-position: 50% -20px;
					
					@include mq($small-only) {
						background-image: none;
						background-position: center -1000px;
					}
				}
			}
		}// .service-button

	}// &.service-blocks

}// section
